In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import numpy as np
import pandas as pd
from utils import *

In [3]:
data = pd.read_csv('data/train.csv')
print(data.shape)
data.head()

(42000, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data = np.array(data)
m, n = data.shape
# np.random.shuffle(data)
acc = [0]

In [5]:
train_data_ratio = 0.80

train_data_num = int(m * train_data_ratio)

data_dev = data[train_data_num:].T
Y_dev = data_dev[0]
X_dev = data_dev[1:n]
X_dev = X_dev / 255.

data_train = data[:train_data_num].T
Y_train = data_train[0]
X_train = data_train[1:n]
X_train = X_train / 255.
Y_train_onehot = one_hot(Y_train)

In [6]:
X_train.shape, X_dev.shape

((784, 33600), (784, 8400))

In [7]:
Y_train_onehot.shape

(10, 33600)

In [32]:
n_x = X_train.shape[0]
n_y = Y_train_onehot.shape[0]
layer_info = [
    {'nodes': 10 ,'activation': 'relu'},
    {'nodes': 10 ,'activation': 'relu'},
    ]

In [33]:
n_x, n_y, layer_info

(784,
 10,
 [{'nodes': 10, 'activation': 'relu'}, {'nodes': 10, 'activation': 'relu'}])

In [34]:
from network import Network
net = Network(n_x, n_y, layer_info, random_seed=1)

In [35]:
# net = unpickle_model("pickles/pickled_obj-6458706324.sav")

In [36]:
net.fit(
    X_train, Y_train_onehot,
    learning_rate=0.1,
    epoch=1000,
    print_cost=True
)

Cost after iteration 50: 1.859969      took 7.3 s
Cost after iteration 100: 1.093829      took 14.1 s
Cost after iteration 150: 0.881494      took 22.2 s
Cost after iteration 200: 0.642472      took 28.88 s
Cost after iteration 250: 0.549521      took 35.35 s
Cost after iteration 300: 0.493498      took 41.87 s
Cost after iteration 350: 0.455749      took 48.49 s
Cost after iteration 400: 0.427124      took 55.13 s
Cost after iteration 450: 0.404993      took 62.22 s
Cost after iteration 500: 0.386695      took 69.76 s
Cost after iteration 550: 0.371217      took 76.95 s
Cost after iteration 600: 0.357921      took 84.15 s
Cost after iteration 650: 0.346212      took 90.91 s
Cost after iteration 700: 0.335704      took 97.07 s
Cost after iteration 750: 0.326247      took 1:43 min
Cost after iteration 800: 0.317788      took 1:49 min
Cost after iteration 850: 0.310219      took 1:54 min
Cost after iteration 900: 0.30337      took 2:0 min
Cost after iteration 950: 0.297182      took 2:5 min
Cost after iteration 1000: 0.29143      took 2:11 min

In [81]:
print(X_dev.shape[1])
y_predict = net.predict(X_dev).astype(int)

8400

In [85]:
a = get_accuracy(y_predict, Y_dev)

if acc[-1] != a:
    acc.append(a)

acc[-1]
# print(f"{round(acc[-2], 4)} -> {round(acc[-1], 4)}")

0.9342857142857143

In [86]:
from utils import pickle_model

# pickle_model(net, dir_path="pickles")

In [87]:
# net = unpickle_model("pickles/pickled_obj-6458726755.sav")

In [88]:
data_test = pd.read_csv('data/test.csv')
print(data_test.shape)
data_test.head()

(28000, 784)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
X_test = data_test.values.T / 255.
X_test.shape

(784, 28000)

In [90]:
y_test = net.predict(X_test).astype(int)

In [91]:
y_test[:10]

array([2, 0, 9, 9, 3, 9, 0, 3, 0, 3])

In [92]:
data_submission = pd.read_csv("data/sample_submission.csv")
data_submission.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [95]:
data_submission.Label = y_test
data_submission.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [96]:
data_submission.to_csv("data_submission.csv", index=False)

In [97]:
np.argmax([[1,2,3,4,1,2], [1,2,3,4,1,2], [1,2,3,4,1,2]], axis=0)

array([0, 0, 0, 0, 0, 0])